<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>my_web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>musicTree</servlet-name>
  	<servlet-class>com.my_web.servlet.MusicTreeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>musicTree</servlet-name>
  	<url-pattern>/musicTree</url-pattern>
  </servlet-mapping>
 
  <servlet>
  	<servlet-name>videoTree</servlet-name>
  	<servlet-class>com.my_web.servlet.VideoTreeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>videoTree</servlet-name>
  	<url-pattern>/videoTree</url-pattern>
  </servlet-mapping>
 
  <servlet>
  	<servlet-name>photoTree</servlet-name>
  	<servlet-class>com.my_web.servlet.PhotoTreeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>photoTree</servlet-name>
  	<url-pattern>/photoTree</url-pattern>
  </servlet-mapping>
  
  
</web-app>